/*atributo texto página*/
body {
	font-family: "Calibri", sans-serif;
	font-weight: lighter;
    background-image: url("Internet.jpg");		
    color: BROWN;     
}

/* ESTILOS GENERALES */
nav ul {
	font-size: 18px;
	padding:1;/*Párrafo con sangria*/

}
/*Propiedades li*/
nav li {
	position:center;top:1px;left:500px;
	line-height: 4rem;/*Altura de cada item*/
	position: relative;/*posiciona el elemento por defecto*/
}



ul li  {
	/*margin-left: 520px;*/
}
/*propiedades ul del menu*/
.menu ul {
	
	position: absolute;/*Referencia ventana navegador*/
}
/*propiedades para hipervinculos a*/
nav a {

	color:rgb(22, 30, 56);
	
	padding: 0 2.1em;
	text-decoration: none;
	transition: .4s;
	display:block;
}
/*Navegabilidad de las opciones efectos items menú*/
nav a:hover {
	font-family: Comic;
	background:#F3E2A9;
}

.btn btn-light{
	width: 1000%;/*Ancho*/
	position:center;top:1px;left:50px;
}

/*PRIMER NIVEL*/
.menu {
	position:absolute;top:1px; left:00px;
	background: white;
	display: block;
	width: 100%;/*Ancho*/
}

.menu > li {
	
	position:center;top:1px; left:1100px;
}

/*SEGUNDO NIVEL*/
nav li li {
	font-size: 16px;
	position:center;top:10px;left:50px;
	font-family: Comic;
	background: white;
	max-height: 0;/*ancho*/
	overflow: hidden;;/*Oculto*/
	transition: all .6s;/*tiempo de despliegue*/
	width:  200px;/*ancho*/
}

nav li li a{
	font-size: 20px;
	
}

nav li:hover > ul > li {
	font-family: Comic;
	max-height: 1000px;/*ALtura de los submenu*/
	overflow: visible;/*visible que se despliegue*/
}

.menu > li > ul {
	top:100%;
}

/*TERCER NIVEL */

.menu ul ul {
	left: 100%;
	top:0;
}

.info {
	position:absolute;top:90px;left:5px;
	
	font-family: "Calibri", sans-serif;
  font-weight: lighter;
    background: url("fondo3.jpg");
    color: #000;
    line-height: 1.5;	
	text-align:center;
	font-size: 20px;
	
	border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px; 
	
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .9);
}

.temas {
	position:absolute;top:390px;left:1100px;

	font-family: "Calibri", sans-serif;
 	 font-weight: lighter;
    
    color: #000;
    line-height: 1.5;	
	text-align:center;
	font-size: 250px;	
	border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px; 
	
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .9);
}
 output{
	
    border: pink;
    background: rgba(0,0, 0, .3);
    outline: 0;
    color: #aaa;
    border-bottom: 1px solid #FFCCFF;
 }

	
.logo {
	font-family: "Calibri", sans-serif;
  font-weight: lighter;
  font-weight: lighter;
	color: #000000;
	position:absolute;top:0px;left:80px;
    font-size: 	4.0em;
}

.logo span {
	font-size: 	0.5em;
	
	color: #0f778a;
    
}
input,textarea {
	font-family: "Calibri", sans-serif;
  font-weight: lighter;
    border: pink;
    background: rgba(0,0, 0, .3);
	font-size: 	0.9em;
    color: #000;
    border-bottom: 1px solid #FFCCFF;
}
select{
	 background: rgba(0,0, 0, .3);
}
button{
	  background: rgba(0,0, 0, .3);
	  color:#aaa;
}

 button:hover,
 button:focus {	
	font-family: "Calibri", sans-serif;
	font-weight: lighter;
    background: pink;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
	cursor:pointer;
	
}
	

